.modListAndView {
  flex-grow: 1;
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 3fr);
}

.scrollOuter {
  display: flex;
  flex-direction: column;
}

.scrollInner {
  overflow: auto;
  flex: 1 1 0;
  padding-right: 0.5em;
}

.modList {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--clr-neutral-8);

  li:has(.mod__btn:hover) + li .mod__btn,
  li:has(.mod__btn:active) + li .mod__btn {
    border-top-color: transparent;
  }

  .mod {
    display: flex;

    .mod__btn {
      display: flex;
      margin: 0;
      border: 1px solid transparent;
      max-width: 100%;
      border-top-color: var(--clr-neutral-8);
      padding: 0.5em;
      gap: 0.75em;
      text-align: left;
      flex-grow: 1;
      background-color: var(--clr-neutral-9);
      transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, border-radius 0.3s ease-out;

      &:hover {
        background-color: var(--clr-neutral-8);
        border-radius: 6px;
        /* transition: border-color 0.2s ease, border-radius 0.3s ease-out; */
        border-color: var(--clr-neutral-7);
        cursor: pointer;

        .right {
          visibility: visible;
        }
      }

      &:active {
        border-color: var(--clr-neutral-5);
      }
    }

    &.selected .mod__btn {
      border-color: var(--clr-primary-6);
      border-radius: 6px;
      background-color: var(--clr-neutral-8);
    }

    &.selected .mod__btn:hover {
      background-color: var(--clr-neutral-7);
    }

    &.selected .mod__btn:active {
      border-color: var(--clr-neutral-5);
    }
  }

  .icon {
    aspect-ratio: 1;
    width: 4rem;
    align-self: flex-start;
    border-radius: 6px;
  }

  .mod__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    gap: 1em;
    min-width: 0;

    .info {
      display: flex;
      align-items: center;
      gap: 0.35em;
      color: var(--clr-neutral-2);
      font-size: 0.9rem;
    }

    .info * {
      flex-shrink: 0;
    }

    .separator {
      color: var(--clr-neutral-6);
      font-weight: 400;
      font-size: 0.75rem;
    }

    .left,
    .right {
      gap: 0.25em;
    }

    .left {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-width: 0;
    }

    .right {
      display: flex;
      justify-content: center;
      flex-direction: column;
      visibility: hidden;
    }

    .downloadBtn {
      background-color: var(--clr-primary-4);
      padding: 0.25em 0.65em;
      border-radius: 1em;
      font-size: 1.5rem;
    }

    .name {
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--clr-neutral-1);
      font-size: 1rem;
      flex-shrink: 1;
      min-width: 5ch;
      white-space: nowrap;
    }

    .downloads,
    .description {
      color: var(--clr-neutral-3);
      font-size: 0.9rem;
    }

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .owner {
    }

    .label {
    }
  }

  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3em;
    margin-top: 0.5em;

    > li {
      border-radius: 100vmax;
      padding: 0.25em 0.6em;
      font-size: 0.8rem;
      color: var(--clr-neutral-2);
      border: 1px solid var(--clr-neutral-6);
    }
  }
}

.modView {
  display: flex;
  flex-direction: column;
  padding-left: 0.75em;
  padding-right: 0;
  margin-right: -1em;

  .nothingMsg {
    text-align: center;
    margin: auto;
    padding-bottom: 3em;

    h2 {
      font-weight: 400;
      color: var(--clr-neutral-2);
      margin-bottom: 0.25em;
    }

    p {
      color: var(--clr-neutral-3);
    }
  }

  .versions {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    > li {
      display: flex;
      flex-direction: column;
    }
  }

  .name {
    white-space: break-word;
  }
}

.modSticky {
  margin-right: 1em;
}

.modMeta {
  display: grid;
  grid-template-areas:
    "name donate"
    "owner donate"
    "meta donate";
  grid-template-columns: minmax(min-content, 100%) 1fr;
  row-gap: 0.25em;
  column-gap: 0.5em;
  padding-bottom: 0.75em;
}

.modMetaLink {
  display: flex;
  align-items: center;
  width: min-content;
  gap: 0.35em;
}

.modMetadata {
  grid-area: meta;
  display: flex;
  gap: 1em;
  color: var(--clr-neutral-2);
  margin-top: 0.5em;
}
.metadata__field {
  white-space: nowrap;
}

.modMeta__donate {
  grid-area: donate;
  align-self: center;
  justify-self: right;
  padding: 0.5em 1em;
  border: 1px solid var(--clr-neutral-7);
  border-radius: 4px;
  text-align: center;
}

.donate__icon {
  font-size: 1.25rem;
}

.tabs {
  border-bottom: 1px solid var(--clr-neutral-7);
  overflow-x: auto;
}

.tabs__list {
  display: flex;
}

.tabs__tab {
  border-bottom: 2px solid transparent;
}

.tabs__tab button {
  padding: 0.4em 1em;
  color: var(--clr-neutral-4);
  display: block;
  user-select: none;
  -webkit-user-select: none;
  background-color: transparent;
}

.tabs__tab button:hover:not(:disabled) {
  color: var(--clr-neutral-2);
}

.tab__active.tabs__tab {
  border-color: var(--clr-neutral-2);
}

.tab__active.tabs__tab button {
  color: white;
}

.modView__content {
  overflow: auto;
  flex-grow: 1;
  padding-block: 1em;
}

.modView__content :global(.markdown) {
  padding-right: 0.75em;
}

.modView__form {
  margin-right: 1em;
  padding-block: 0.5em 0.75em;
  border-top: 1px solid var(--clr-neutral-7);
}

.modView__downloader {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.modView__versions {
  align-self: stretch;
  border: none;
  padding: 0.25em;
  background-color: var(--clr-primary-4);
  border-radius: 100vmax 0 0 100vmax;
}

.modView__downloadBtn {
  flex-grow: 1;
  padding: 0.5em 0.25em;
  font-size: 1.25rem;
  background-color: var(--clr-primary-4);
  border-radius: 0 100vmax 100vmax 0;
}
