p {
  margin: 0;
  padding: 0;
}

.modListAndView {
  flex-grow: 1;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 0.5em;
  overflow: hidden;
}

.scrollOuter {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.scrollInner {
  overflow: auto;
  flex: 1 1 0;
  padding-right: 1em;
}

.modList {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  > li {
    display: flex;
    flex-direction: row;

    &.selected > button {
      border-color: var(--clr-primary-7);
    }

    > button {
      display: flex;
      margin: 0;
      border: 2px solid var(--clr-neutral-7);
      border-radius: 8px;
      padding: 0.5em;
      gap: 0.5em;
      text-align: left;
      flex-grow: 1;
      background-color: var(--clr-neutral-8);
      transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;

      &:hover {
        background-color: var(--clr-neutral-7);
      }

      &:active {
        border-color: var(--clr-neutral-6);
      }
    }
  }

  .icon {
    aspect-ratio: 1;
    width: 6rem;
    border-radius: inherit;
  }

  .split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;

    .left,
    .right {
      gap: 4px;
    }

    .left {
      display: flex;
      flex-direction: column;
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }

  .name {
  }

  .version {
    color: rgb(200, 200, 200);
  }

  .owner {
    font-size: 0.9em;
  }

  .label {
  }

  .downloads {
  }

  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;

    > li {
      border-radius: 100vmax;
      padding: 0.25em 0.7em;
      font-size: 0.9rem;
      color: var(--clr-neutral-2);
      background-color: var(--clr-neutral-9);
    }
  }
}

.modView {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2,
  h3 {
    display: inline-block;
  }

  .versions {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;

    > li {
      display: flex;
      flex-direction: column;
    }
  }
}

.name {
  font-weight: bold;
}
