.modSearch {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.modSearch__form {
  display: flex;
  flex-direction: column;
}

.modSearch__searchBar {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  align-items: center;
  border-radius: 100vmax;
  background-color: var(--clr-neutral-8);
  padding-right: 1em;

  > input {
    flex-grow: 1;
    padding: 0.65em 1em;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: transparent;
    border: none;
  }
}

.modSearch__dropdownBtn {
  background-color: transparent;
  color: var(--clr-neutral-2);
}

.searchOptions {
  overflow: hidden;

  > .inner {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
}

.sortOptions {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .sortOption {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 8px;

    cursor: grab;

    > select {
      appearance: none;
      background: none;
      border: none;
      border-radius: 0;
    }
  }
}

.descendingToggle {
  > input {
    display: none;
  }

  > label {
    cursor: pointer;
  }
}

.progressLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
