.modSearch {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5em;
}

.searchBar {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  position: relative;

  > input {
    flex-grow: 1;
  }
}

.searchForm {
  display: flex;
  flex-direction: column;
}

.searchOptionsToggle {
  display: none;

  &:checked + .searchOptions {
    /* ensure compatibility with older webviews */
    height: auto;
    height: calc-size(auto);
  }
}

.searchOptions {
  height: 0;
  transition: height 0.3s ease-in-out;
  overflow: hidden;

  > .inner {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }
}

.sortOptions {
  display: flex;
  flex-direction: column;

  .sortOption {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 8px;

    > select {
      appearance: none;
      background: none;
      border: none;
      border-radius: 0;
    }
  }
}

.descendingToggle {
  > input {
    display: none;
  }

  > label {
  }
}

.progressLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.discoveredLine {
  display: flex;
  align-items: center;
  gap: 8px;
}

.refreshButton {
  appearance: none;
  border: none;
  background: none;

  border-radius: 50%;
  aspect-ratio: 1;
  width: auto;
  min-width: 0;
  height: auto;
  min-height: 0;
  margin: 0;
  padding: 8px;
  display: inline-block;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--clr-primary-3);
  }
}
