.statusBar {
  grid-column: sidebar-start / content-end;
  grid-row: statusbar-start / statusbar-end;
  order: -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto;

  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  text-align: center;
  border-top: 1px solid var(--clr-neutral-8);
  background-color: var(--clr-neutral-10);
}

.statusBarBorderCover {
  grid-column: sidebar-start / content-start;
  grid-row: 1 / 2;

  /* TODO: make this actually cover the border */

  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(-1px);
  background-color: red;
  /* z-index: 10; */
}

.statusBar__content {
  grid-column: sidebar-start / content-end;
  grid-row: 1 / 2;
}

.taskManagerBtn {
  display: inline-block;
  background: none;
  padding: 0;
  margin: 0;
  color: var(--clr-neutral-2);

  &:hover {
    color: var(--clr-neutral-1);
  }
}

.statusBar__chunk {
  display: inline-block;
  padding: 0.1rem 1rem;

  &:first-child {
    padding-left: 0.3rem;
  }

  &:last-child {
    padding-right: 0.3rem;
  }

  &:not(:last-child) {
    border-right: 1px solid var(--clr-neutral-7);
  }
}
