.page {
  height: calc(100dvh - var(--titlebar-height));
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.main {
  height: auto;
}

.main,
.tabs,
.navbar {
  display: flex;
}

/* Sidebar code */

.sidebar {
  padding: 1em;
  min-width: 16rem;
  width: 24rem;
  max-width: 30rem;
  resize: horizontal;
  overflow: visible;
  border-right: 1px solid var(--clr-neutral-8);
  background-color: var(--clr-neutral-10);
}

.sidebar__nav {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  gap: 1em;

  h1 {
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: var(--clr-neutral-2);
  }
}

.sidebar__btn {
  padding-inline: 0.6em;
}

.sidebar__profilesTitle,
.sidebar__profilesActions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar__profilesTitle {
  justify-content: space-between;
}

.sidebar__profilesActionBtn {
  background-color: transparent;
  padding: 0;
  color: inherit;
  font-size: 1.25rem;
  padding-inline: 0.25em;
}

.sidebar__profilesActionBtn:hover,
.sidebar__profilesActionBtn:focus-visible {
  color: var(--clr-primary-5);
}

.sidebar,
.sidebar__group {
  display: flex;
  flex-direction: column;
}

.sidebar__group:last-child {
  margin-top: auto;
}

.sidebar__mainActions {
  gap: 0.35em;

  button {
    border-radius: 100vmax;
    padding-block: 0.5em;
    width: 100%;
  }

  button[data-modded] {
    background-color: var(--clr-primary-4);
    background-image: linear-gradient(
      20deg,
      var(--clr-primary-3) 10%,
      var(--clr-primary-4) 80%,
      var(--clr-primary-5) 100%
    );
    border: 2px solid hsl(var(--clr-primary-hs), 70%, 20%);
  }

  button[data-kill] {
    background-color: var(--clr-danger-4);
    background-image: linear-gradient(
      20deg,
      var(--clr-danger-3) 10%,
      var(--clr-danger-4) 80%,
      var(--clr-danger-5) 100%
    );
    border: 2px solid hsl(var(--clr-danger-hs), 70%, 20%);
  }

  button[data-cancel] {
    background-color: var(--clr-warn-4);
    background-image: linear-gradient(20deg, var(--clr-warn-3) 10%, var(--clr-warn-4) 80%, var(--clr-warn-5) 100%);
    border: 2px solid hsl(var(--clr-warn-hs), 70%, 20%);
  }
}

.sidebar__group {
  border-top: 1px solid var(--clr-neutral-8);
  padding-top: 0.75em;
  margin-top: 0.75em;

  h3 {
    font-weight: 350;
    color: var(--clr-neutral-2);
    margin-bottom: 0.5em;
  }
}

.sidebar__otherGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(40%, 1fr));
  gap: 0.5em;
}

.sidebar__otherGridIcon {
  font-size: 1.5rem;
  margin-bottom: 0.15em;
}

.sidebar__otherGrid button {
  border-radius: 6px;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.5em;
}

/* Profile main section code */

.tabs {
  margin: -1em -1em 0.75em -1em;
  padding: 0.3em;
  border-bottom: 1px solid var(--clr-neutral-8);
  background-color: var(--clr-neutral-10);
}

.tabs__list {
  display: flex;
}

.tabs__tab {
  border-radius: 6px;
  overflow: hidden;

  button {
    padding: 0.5em 1em;
    border-right: 1px solid var(--clr-neutral-7);
    color: var(--clr-neutral-4);
    display: block;
    font-size: 1.1rem;
    user-select: none;
    -webkit-user-select: none;
    background-color: transparent;
  }

  button:hover:not(:disabled) {
    color: var(--clr-neutral-2);
  }

  &.tab__active.tabs__tab button {
    border-color: var(--clr-primary-4);
    background-color: var(--clr-primary-4);
    color: white;
  }

  &:has(+ .tab__active) button {
    border-right-color: transparent;
  }
}

.content {
  padding: 1em;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content__console {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: -1em;
  overflow: hidden;
}
