.main,
.tabs,
.navbar {
  display: flex;
}

.sidebar {
  padding: 1em;
  height: 100dvh;
  min-width: 18rem;
  width: 18%;
  max-width: 24rem;
  resize: horizontal;
  overflow: auto;
  border-right: 1px solid var(--clr-neutral-8);
}

.sidebar__nav {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
}

.sidebar__nav h1 {
  width: 100%;
  text-align: center;
}

.sidebar__btn {
  padding-inline: 0.5em;
}

.sidebar,
.sidebar__group {
  display: flex;
  flex-direction: column;
}

.sidebar__group:last-child {
  margin-top: auto;
}

.sidebar__group {
  border-top: 1px solid var(--clr-neutral-8);
  padding-top: 0.75em;
  margin-top: 0.75em;
}

.sidebar__group h3 {
  font-weight: 400;
  color: var(--clr-neutral-2);
}

.tabs__tab a {
  padding: 0.25em 0.5em;
  border: 1px solid var(--clr-primary-3);
  display: block;
}

.content {
  padding: 1em;
  flex-grow: 1;
  height: 100dvh;
  overflow-y: scroll;
}

.content__substance {
  padding: 1em 0;
}

.profileTitle {
  text-align: center;
}
