.sidebar__profiles {
  flex-grow: 1;
}

.sidebar__profilesListContainer {
  margin: 0 -1em;
  margin-top: 0.5em;
  flex: 1 1 0;
}

.sidebar__profilesList {
  list-style-type: none;
}

.sidebar__profilesSearch {
}

.sidebar__profilesSearch input {
  width: 100%;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.sidebar__profileActions {
  display: flex;
  justify-items: stretch;
  justify-content: center;
  gap: 0.5em;
  padding-top: 0.5em;
}

.sidebar__profileActions button {
  padding: 0.5em 1em;
  border-radius: 100vmax;
  width: 100%;
}

.sidebar__profileActionsBtnIcon {
  margin-right: 0.5em;
  color: var(--clr-neutral-3);
  font-size: 1.1rem;
}

.profileList__item {
  position: relative;
}

.profileItem__options {
  position: absolute;
  right: 0.25em;
  top: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 0.1em;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

.profileList__item:hover .profileItem__options,
.profileList__item:focus-within .profileItem__options {
  pointer-events: all;
  opacity: 1;
}

.profileList__item a {
  display: block;
  color: var(--clr-neutral-2);
  padding: 0.35em 1em;
}

.profileList__item a:global(.active) {
  font-weight: 700;
  color: var(--clr-primary-6);
  background-color: var(--clr-neutral-8);
}

.profileList__item a:global(.active):hover {
  font-weight: 700;
  color: var(--clr-primary-7);
}

.profileList__item:hover a,
.profileList__item:focus-within a {
  background-color: var(--clr-neutral-8);
  color: var(--clr-neutral-1);
}

.profileList__item button {
  padding: 0.2em 0.25em;
  background-color: transparent;
  border-radius: 4px;
}

.profileList__item button:hover {
  background-color: var(--clr-neutral-7);
}
