.sidebar__profiles {
  --neg-margin: -0.5em;
  flex-grow: 1;
  margin-inline: var(--neg-margin);
}

.sidebar__profilesListContainer {
  margin: 0 var(--neg-margin);
  margin-top: 0.5em;
  flex: 1 1 0;
}

.sidebar__profilesList {
  list-style-type: none;
}

.sidebar__profilesSearch {
  border-radius: 4px;
  display: flex;
  background-color: var(--clr-neutral-8);
  border: 1px solid var(--clr-neutral-7);
}

.sidebar__profilesSearch input {
  width: 100%;
  padding: 0.2em 0.4em;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: transparent;
  border: none;
}

.sidebar__profilesSearchSortBtn {
  color: var(--clr-neutral-2);
}

.sidebar__profilesSearchSortByBtn {
  padding-inline: 0.5em;
  color: var(--clr-neutral-2);
}

.profileList__item {
  position: relative;
}

.profileItem__options {
  position: absolute;
  right: 0.25em;
  top: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  gap: 0.1em;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

.profileList__item:hover .profileItem__options,
.profileList__item:focus-within .profileItem__options {
  pointer-events: all;
  opacity: 1;
}

.profileList__itemName {
  display: block;
  color: var(--clr-neutral-2);
  padding: 0.35em 1em;
  text-overflow: ellipsis;
  overflow: hidden;
}

form.profileList__itemName {
  /* padding: 0 0.5em; */
  padding: 0;

  & > input {
    /* padding: calc(0.35em - 1px) calc(0.5em - 1px); */
    padding: calc(0.35em - 1px) calc(1em - 1px);
    border: 1px solid var(--clr-primary-8);
    width: 100%;
  }
}

.profileList__itemName:global(.active) {
  font-weight: 700;
  color: var(--clr-primary-6);
  background-color: var(--clr-neutral-8);
}

.profileList__itemName:global(.active):hover {
  font-weight: 700;
  color: var(--clr-primary-7);
}

.profileList__item:hover .profileList__itemName,
.profileList__item:focus-within .profileList__itemName {
  background-color: var(--clr-neutral-8);
  color: var(--clr-neutral-1);
}

.profileList__item button {
  padding: 0.2em 0.25em;
  background-color: transparent;
  border-radius: 4px;
}

.profileList__item button:hover:not(:disabled) {
  background-color: var(--clr-neutral-7);
}
