@font-face {
  font-family: "Inter";
  src: url("/font/Inter-Variable.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/font/Inter-Italic-Variable.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/font/SourceCodePro-Variable.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/font/SourceCodePro-Italic-Variable.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
}

:root {
  --font: "Inter", Avenir, Helvetica, Arial, sans-serif;
  --font-monospace: "SourceCodePro", monospace, "Courier New", Courier;

  font-family: var(--font);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-neutral-0: hsl(214, 28%, 5%);
  --clr-neutral-1: hsl(214, 28%, 15%);
  --clr-neutral-2: hsl(218, 20%, 20%);
  --clr-neutral-3: hsl(210, 15%, 28%);
  --clr-neutral-4: hsl(210, 10%, 40%);
  --clr-neutral-5: hsl(210, 12%, 50%);
  --clr-neutral-6: hsl(212, 15%, 60%);
  --clr-neutral-7: hsl(212, 18%, 70%);
  --clr-neutral-8: hsl(211, 20%, 80%);
  --clr-neutral-9: hsl(211, 30%, 90%);
  --clr-neutral-10: hsl(100, 50%, 99%);

  --clr-primary-hs: 209, 85%;
  --clr-primary-1: hsl(var(--clr-primary-hs), 10%);
  --clr-primary-2: hsl(var(--clr-primary-hs), 20%);
  --clr-primary-3: hsl(var(--clr-primary-hs), 30%);
  --clr-primary-4: hsl(var(--clr-primary-hs), 40%);
  --clr-primary-5: hsl(var(--clr-primary-hs), 48%);
  --clr-primary-6: hsl(var(--clr-primary-hs), 60%);
  --clr-primary-7: hsl(var(--clr-primary-hs), 70%);
  --clr-primary-8: hsl(var(--clr-primary-hs), 80%);
  --clr-primary-9: hsl(var(--clr-primary-hs), 90%);

  --clr-accent-hs: 309, 63%;
  --clr-accent-1: hsl(var(--clr-accent-hs), 10%);
  --clr-accent-2: hsl(var(--clr-accent-hs), 20%);
  --clr-accent-3: hsl(var(--clr-accent-hs), 30%);
  --clr-accent-4: hsl(var(--clr-accent-hs), 40%);
  --clr-accent-5: hsl(var(--clr-accent-hs), 48%);
  --clr-accent-6: hsl(var(--clr-accent-hs), 60%);
  --clr-accent-7: hsl(var(--clr-accent-hs), 75%);
  --clr-accent-8: hsl(var(--clr-accent-hs), 80%);
  --clr-accent-9: hsl(var(--clr-accent-hs), 90%);

  --clr-danger-hs: 1, 85%;
  --clr-danger-1: hsl(var(--clr-danger-hs), 10%);
  --clr-danger-2: hsl(var(--clr-danger-hs), 20%);
  --clr-danger-3: hsl(var(--clr-danger-hs), 30%);
  --clr-danger-4: hsl(var(--clr-danger-hs), 36%);
  --clr-danger-5: hsl(var(--clr-danger-hs), 50%);
  --clr-danger-6: hsl(var(--clr-danger-hs), 60%);
  --clr-danger-7: hsl(var(--clr-danger-hs), 70%);
  --clr-danger-8: hsl(var(--clr-danger-hs), 80%);
  --clr-danger-9: hsl(var(--clr-danger-hs), 90%);

  --clr-warn-hs: 34, 100%;
  --clr-warn-1: hsl(var(--clr-warn-hs), 10%);
  --clr-warn-2: hsl(var(--clr-warn-hs), 20%);
  --clr-warn-3: hsl(var(--clr-warn-hs), 30%);
  --clr-warn-4: hsl(var(--clr-warn-hs), 40%);
  --clr-warn-5: hsl(var(--clr-warn-hs), 50%);
  --clr-warn-6: hsl(var(--clr-warn-hs), 59%);
  --clr-warn-7: hsl(var(--clr-warn-hs), 70%);
  --clr-warn-8: hsl(var(--clr-warn-hs), 80%);
  --clr-warn-9: hsl(var(--clr-warn-hs), 90%);

  --clr-ok-hs: 146, 100%;
  --clr-ok-1: hsl(var(--clr-ok-hs), 10%);
  --clr-ok-2: hsl(var(--clr-ok-hs), 20%);
  --clr-ok-3: hsl(var(--clr-ok-hs), 30%);
  --clr-ok-4: hsl(var(--clr-ok-hs), 40%);
  --clr-ok-5: hsl(var(--clr-ok-hs), 50%);
  --clr-ok-6: hsl(var(--clr-ok-hs), 59%);
  --clr-ok-7: hsl(var(--clr-ok-hs), 70%);
  --clr-ok-8: hsl(var(--clr-ok-hs), 80%);
  --clr-ok-9: hsl(var(--clr-ok-hs), 90%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100dvh;
}

body {
  background-color: var(--clr-neutral-9);
  color: var(--clr-neutral-1);
  min-height: 100%;
  font-size: 1rem;
  overscroll-behavior: none;
}

*::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: var(--clr-primary-1);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-4);
  border-radius: 6px;
  /* border: 3px solid #f1f1f1; */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-primary-5);
}

/* Firefox */
* {
  scrollbar-color: var(--clr-primary-4) var(--clr-primary-1); /* thumb and track color */
}

a {
  text-decoration: none;
  color: var(--clr-primary-5);
}

a:hover {
  color: var(--clr-primary-6);
}

a:disabled {
  opacity: 0.5;
}

input,
button,
select {
  font-size: 1rem;
  color: var(--clr-neutral-1);
  display: block;
  font-family: var(--font);
}

@supports selector(*:focus-visible) {
  *:focus {
    outline: none;
  }
}

*:focus-visible {
  outline: 2px double var(--clr-warn-5);
  outline-offset: 2px;
}

input {
  background-color: var(--clr-neutral-8);
  border: 1px solid var(--clr-neutral-7);
  padding: 0.35em 0.5em;
}

input:focus-visible,
select:focus-visible {
  outline: none;
}

button {
  border: none;
  padding: 0.35em 1.5em;
  --bg-clr: var(--clr-neutral-8);
  background-color: var(--bg-clr);
  color: var(--clr-neutral-1);
}

button.primary {
  --bg-clr: var(--clr-primary-4);
}

button.ghost {
  border: 1px solid inherit;
}

button:hover:not(:disabled) {
  cursor: pointer;
  --bg-clr: var(--clr-neutral-7);

  &.primary {
    --bg-clr: var(--clr-primary-5);
  }
}

button:disabled {
  opacity: 0.5;
}

select {
  background-color: var(--clr-neutral-7);
  color: var(--clr-neutral-1);
  border-color: var(--clr-neutral-2);
}

select:disabled {
  opacity: 0.4;
}

ul {
  list-style-type: none;
}

hr {
  border: none;
  background-color: var(--clr-neutral-8);
  height: 1px;
  margin: 1em 0;
}

.phantom {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-neutral-10: hsl(214, 30%, 12%);
    --clr-neutral-9: hsl(218, 25%, 15%);
    --clr-neutral-8: hsl(210, 22%, 20%);
    --clr-neutral-7: hsl(210, 15%, 28%);
    --clr-neutral-6: hsl(210, 11%, 35%);
    --clr-neutral-5: hsl(212, 20%, 50%);
    --clr-neutral-4: hsl(212, 25%, 60%);
    --clr-neutral-3: hsl(211, 30%, 70%);
    --clr-neutral-2: hsl(211, 32%, 80%);
    --clr-neutral-1: hsl(211, 50%, 95%);
    --clr-neutral-0: hsl(100, 50%, 99%);
  }
}

@media screen AND (max-width: 700px) {
  :root {
    font-size: 12px;
  }
}
