/* Selected mods list */

.selected__cards {
  height: 20%;
  overflow: hidden;
  position: relative;
}

.cards__list {
  --card-spacing: 36;
  /* the base offset of each card */
  --cards-offset: calc((180 / 2) - ((var(--card-spacing)) / 2) * ((var(--total-cards)) - 1));
}

.selected__card {
  position: absolute;
  aspect-ratio: 5 / 7;
  width: 10%;
  border: 1px solid var(--clr-neutral-70);
  background-color: var(--clr-neutral-80);
  border-radius: 8px;

  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;

  offset-path: circle(20% at center 80%);

  /* the degree offset of each card from the origin on the circle */
  --card-angle: calc((var(--cards-offset)) + (var(--card-spacing)) * (var(--card-index)));
  offset-distance: calc((var(--card-angle)) * 100% / 360 - 50%);
}

.selected__card[data-overflow] {
  isolation: isolate;

  &::after {
    position: absolute;
    border-radius: inherit;
    content: attr(data-overflow);
    text-shadow: 0 0 4px rgb(0 0 0 / 0.7);
    inset: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 0.5);
    backdrop-filter: blur(6px);
  }
}

.selected__title {
  text-align: center;
  padding-top: 0.25em;
  border-top: 1px solid var(--clr-neutral-70);
  margin-top: 0.25em;
}

.selected__actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 7rem));
  gap: 0.5em;
  justify-content: center;
  margin-top: auto;
  padding: 0.5em;

  button {
    width: 100%;
    border-radius: 6px;
  }
}
