.modListAndView {
  flex-grow: 1;
  display: grid;
  grid-template-columns: minmax(0, 5fr) minmax(0, 3fr);
}

.modListContainer,
.modViewContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.modViewContainer {
  padding-left: 0.75em;
  padding-right: 0;
  margin-right: -1em;
}

.modListContainer {
  gap: 0.5em;
}

.modList {
  overflow: auto;
  flex: 1 1 0;
  padding-right: 0.5em;
}

.noModsMessage {
  flex-grow: 1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  p {
    color: var(--clr-neutral-20);
  }
}

.noModsMessage__btns {
  margin-top: 1em;
  display: flex;
  gap: 0.5em;
}

.discoveredLine {
  display: flex;
  align-items: center;
  gap: 8px;

  & > span {
    padding: 8px 0;
  }
}

.trailingControls {
  display: flex;
  gap: 0.5em;
  margin-left: auto;
}

.refreshButton {
  appearance: none;
  border: none;
  background: none;

  border-radius: 50%;
  aspect-ratio: 1;
  width: auto;
  min-width: 0;
  height: auto;
  min-height: 0;
  margin: 0;
  padding: 8px;
  display: inline-block;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--clr-primary-40);
  }
}

.modList {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--clr-neutral-80);
}

.nothingMsg {
  text-align: center;
  margin: auto;
  padding-bottom: 3em;

  h2 {
    font-weight: 400;
    color: var(--clr-neutral-20);
    margin-bottom: 0.25em;
  }

  p {
    color: var(--clr-neutral-30);
  }
}
