.updateDialog {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 600px;
  width: 100%;
  padding: 0.75em;

  h2 {
    margin-bottom: 0.5em;
    font-weight: 500;
    color: var(--clr-neutral-10);
    text-align: center;
  }

  .listContainer {
    border: 1px solid var(--clr-neutral-70);
    border-radius: 0.5em;
  }

  form {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    border-bottom: 1px solid var(--clr-neutral-70);
    padding: 0.5em;
  }

  fieldset {
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
  }

  ul {
    list-style-type: none;
    overflow: auto;
    max-height: 75dvh;

    li {
      padding: 0.25em 0;
      color: var(--clr-neutral-20);
      font-size: 0.9rem;
      padding: 0.5em;

      &:last-child {
        border-radius: 0 0 4px 4px;
      }

      &:nth-child(even) {
        background-color: var(--clr-neutral-85);
      }

      &:hover,
      &:focus-within:has(:focus-visible) {
        background-color: var(--clr-neutral-70);
      }

      label {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }

      img {
        width: 3rem;
        border-radius: 4px;
      }

      .updateMetadata {
        flex-grow: 1;
        display: grid;
        grid-template-columns: [meta-start] 1fr [version-old-start] 7ch [arrow-start] 2ch [version-new-start] 7ch [version-end];
        grid-template-rows: auto auto;

        p[data-name],
        p[data-owner] {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        p[data-name] {
          grid-column: meta-start / version-old-start;
          grid-row: 1 / 2;
          font-weight: 500;
          color: var(--clr-neutral-10);
        }

        p[data-owner] {
          grid-column: meta-start / version-old-start;
          grid-row: 2 / 3;
          color: var(--clr-neutral-30);
        }

        p[data-version] {
          grid-column: version-old-start / version-end;
          grid-row: 1 / 3;
          align-content: center;

          display: grid;
          grid-template-columns: subgrid;
          gap: 0.3em;

          color: var(--clr-neutral-20);
        }

        span[data-old-version] {
          justify-self: right;
        }

        span[data-arrow] {
          justify-self: center;
          color: var(--clr-neutral-40);
        }

        span[data-new-version] {
          justify-self: left;
          font-weight: 600;
        }
      }
    }
  }

  .updateBtns {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
  }
}
