.body {
  background-color: hsl(214, 28%, 5%);
  position: relative;
  overflow-y: scroll;
}

.header,
.main {
  padding: 1em;
}

.main {
  padding-bottom: 2em;
}

.header {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 0.75em;
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
  text-align: center;
}

.header h1 {
  font-size: 4rem;
  font-weight: 650;
  background-image: linear-gradient(180deg, hsl(var(--clr-primary-hs), 64%) 20%, var(--clr-primary-4));
  color: transparent;
  background-clip: text;
  /* text-transform: uppercase; */
  position: relative;
}

.header p {
  color: var(--clr-neutral-2);
  font-size: 1.25rem;
  font-weight: 300;
}

.header h1::before,
.header h1::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 20%;
  pointer-events: none;
}
.header h1::before {
  background-image: linear-gradient(-90deg, var(--clr-neutral-5), transparent);
  transform: translateX(-100%);
  left: -0.5em;
}
.header h1::after {
  background-image: linear-gradient(90deg, var(--clr-neutral-5), transparent);
  transform: translateX(100%);
  right: -0.5em;
}

/* @keyframes hollow-purple-blue {
  0% {
    transform: translate(0%, 0%) rotate(720deg);
  }

  90% {
    transform: translate(-50%, 50%) rotate(0deg);
  }

  100% {
    transform: scale(8) translate(0%, 0%);
    transform-origin: center;
  }
}

@keyframes hollow-purple-red {
  0% {
    transform: translate(-100%, 100%) rotate(-720deg);
  }

  90% {
    transform: translate(-50%, 50%) rotate(0deg);
  }

  100% {
    transform: scale(8) translate(0%, 0%);
    transform-origin: center;
  }
} */

.gameSearch {
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  margin-inline: -1em;
  display: flex;
  justify-content: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

.gameSearch input {
  border-radius: 4px;
  padding: 0.5em 0.75em;
  width: 100%;
  max-width: 30rem;
  font-size: 1.1rem;
  background-color: rgba(69, 69, 69, 0.3);
  border-color: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.gameSearch input::placeholder {
  color: rgb(196, 196, 196);
}
