.gameList {
  list-style-type: none;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.gameList__gameCard.gameList {
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.gameList__gameCard.gameList.searching {
  justify-content: flex-start;
}

.gameList__gameItem.gameList {
  flex-direction: column;
}

.gameList__gameCard .gameList__game {
  width: 15%;
  max-width: 18rem;
  min-width: 14rem;
  aspect-ratio: 3 / 4;
  position: relative;
  z-index: 1;
  --padding: 5px;
  padding: var(--padding);
  border-radius: 4px;
  overflow: hidden;
}

.gameList__gameCard .gameList__game:hover {
  box-shadow: inset 0 0 32px 12px var(--clr-primary-4);
}

.gameList__gameCard .gameList__game::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: var(--img-src);
  background-size: cover;
  z-index: -1;
  filter: blur(4px) brightness(1.9);
  transition: filter 0.7s ease;
  opacity: 0.75;
}

.gameList__gameCard img {
  width: calc(100% - var(--padding) * 2);
  height: calc(100% - var(--padding) * 2);
  object-fit: cover;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
}

.gameList__gameCard .game__content {
  height: 100%;
  padding: 0.5em;
  border-radius: inherit;
  opacity: 0;
  transition: backdrop-filter 0.2s ease, opacity 0.3s ease;
  display: flex;
  flex-direction: column;
}

.gameList__gameCard .game__title {
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1em;
}

.gameList__gameCard .gameList__game:hover .game__content,
.gameList__gameCard .gameList__game:focus-within .game__content {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(4px);
}

.gameList__gameCard .gameList__game:hover::before,
.gameList__gameCard .gameList__game:focus-within::before {
  filter: blur(12px) brightness(2);
  transition: filter 0.2s ease;
}

.game__favoriteBtn {
  position: absolute;
  top: var(--padding);
  right: var(--padding);
  padding: 0;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.game__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: auto;
  gap: 0.5em;
}

.game__actions button {
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1em);
  border-radius: 100vmax;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.gameList__gameItem .game__content {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.15rem;
  font-weight: 350;
}

.gameList__gameItem .game__actions,
.gameList__gameItem img {
  display: none;
}

.gameList__gameItem .gameList__game {
  border-bottom: 1px solid var(--clr-neutral-8);
  padding: 0.75em 0;
}

.gameList__gameItem .game__favoriteBtn {
  position: static;
  order: -1;
  font-size: 1.25rem;
}
