.header,
.main {
  padding: 1em;
}

.header {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 0.75em;
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
  text-align: center;
}

.header h1 {
  font-size: 4rem;
  font-weight: 650;
  background-image: linear-gradient(180deg, hsl(var(--clr-primary-hs), 64%) 20%, var(--clr-primary-4));
  color: transparent;
  background-clip: text;
  /* text-transform: uppercase; */
  position: relative;
}

.header p {
  color: var(--clr-neutral-2);
  font-size: 1.25rem;
  font-weight: 300;
}

.header h1::before,
.header h1::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 20%;
  pointer-events: none;
}
.header h1::before {
  background-image: linear-gradient(-90deg, var(--clr-neutral-5), transparent);
  transform: translateX(-100%);
  left: -0.5em;
}
.header h1::after {
  background-image: linear-gradient(90deg, var(--clr-neutral-5), transparent);
  transform: translateX(100%);
  right: -0.5em;
}

.gradientBlobs {
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  inset: 0;
  z-index: -1;
}

.gradientBlob {
  position: absolute;
  width: 200vh;
  height: 200vh;
  overflow: visible;
  transform-origin: top left;
}

.gradientBlob[data-blob-1] {
  background-image: radial-gradient(circle at center, hsl(var(--clr-primary-hs), 40%, 0.7), transparent 50%);
  top: 0%;
  left: 50%;
  transform: translate(-50%, -55%);
  /* animation: hollow-purple-blue 9s ease-out infinite; */
}

.gradientBlob[data-blob-2] {
  background-image: radial-gradient(circle at center, hsl(var(--clr-accent-hs), 40%, 0.45), transparent 60%);
  top: 0%;
  width: 250vh;
  height: 250vh;
  transform: translate(-30%, -10%);
  /* animation: hollow-purple-red 9s ease-out infinite; */
}

.gradientBlob[data-blob-3] {
  background-image: radial-gradient(circle at center, hsl(var(--clr-warn-hs), 40%, 0.45), transparent 60%);
  top: 10%;
  right: 0;
  width: 250vh;
  height: 250vh;
  transform: translate(30%, 0%);
}

/* @keyframes hollow-purple-blue {
  0% {
    transform: translate(0%, 0%) rotate(720deg);
  }

  90% {
    transform: translate(-50%, 50%) rotate(0deg);
  }

  100% {
    transform: scale(8) translate(0%, 0%);
    transform-origin: center;
  }
}

@keyframes hollow-purple-red {
  0% {
    transform: translate(-100%, 100%) rotate(-720deg);
  }

  90% {
    transform: translate(-50%, 50%) rotate(0deg);
  }

  100% {
    transform: scale(8) translate(0%, 0%);
    transform-origin: center;
  }
} */

.gameSearch {
  padding: 1em 0;
  display: flex;
}
