.switch {
  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconContainer svg {
    width: 100%;
    clip-path: inset(0% 100% 0% 0%);

    transition: clip-path 0.2s;
  }

  input:checked + .iconContainer svg {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.boxDefault {
  border: 1px solid var(--clr-neutral-65);
  border-radius: 2px;
  flex-shrink: 0;
  width: 1rem;

  &:has(> input:checked) {
    background-color: var(--clr-primary-40);
  }
}
