.header {
  display: flex;
  margin-right: 1.5em;
  border-bottom: 1px solid var(--clr-neutral-7);
}

.header__options {
  flex-grow: 1;
}

.header__group {
  padding-bottom: 0.5em;
}

.header__group,
.header__subgroup {
  display: flex;
  align-items: center;
}

.header__subgroup {
  gap: 0.25em;
}

.header__subgroup:not(:last-child) {
  border-right: 1px solid var(--clr-neutral-8);
  margin-right: 0.5em;
  padding-right: 0.5em;
}

.header__logMeta .header__subgroup {
  border-right: none;
}

.logSearch {
  font-size: 0.9rem;
  padding: 0.25em 0.75em;
  border-radius: 100vmax;
}

.header__liveLogText {
  font-size: 0.75rem;
  margin-bottom: 0.25em;
  text-align: center;
  color: var(--clr-neutral-3);
}

.statusIndicator {
  display: flex;
  align-items: center;
  gap: 0.25em;

  &[data-connected="true"]::before {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, lightGreen 0%, green 95%, blue 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, lightGreen 0%, green 95%, blue 100%);
    background-image: radial-gradient(45px 45px 45deg, circle cover, lightGreen 0%, green 95%, blue 100%);
  }
}

.statusIndicator::before {
  content: "";
  border-radius: 50%;

  width: 1.25rem;
  height: 1.25rem;

  /* TODO: Remove vendor prefixes

  Michael insists on keeping them here until he can verify in a
  real browser despite every documentation page saying it is
  widely supported */
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, red 97%, orange 100%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow 0%, red 97%, orange 100%);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, red 97%, orange 100%);
}

.console {
  max-width: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-auto-rows: auto;
  row-gap: 2px;
  column-gap: 8px;
  overflow-y: scroll;
  padding: 0.5em;
  padding-right: 1.5em;
  padding-bottom: 1em;

  font-family: var(--font-monospace);
  color: var(--clr-neutral-2);
  font-size: 0.9rem;
  word-wrap: break-word;
  word-break: break-word;
}

.event__type:is([data-type="STARTED"], [data-type="CONNECT"]) {
  background-color: green;
  color: var(--clr-neutral-0);
}

.event__type:is([data-type="ERROR"], [data-type="CRASH"]) {
  background-color: red;
  color: var(--clr-neutral-0);
}

.event__type {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  height: min-content;

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

.event__scope {
  text-align: right;
  font-style: italic;
}

.event__message {
  white-space: pre-wrap;
}

.toggleList {
  gap: 0.25em;
}

.scopeToggle {
  border: 1px solid var(--clr-neutral-7);
  padding: 0.25em 0.5em;
  border-radius: 100vmax;
  font-size: 0.8rem;
  color: var(--clr-neutral-2);
  cursor: pointer;
  user-select: none;

  input:checked + & {
    border: 1px solid var(--clr-primary-5);
    color: var(--clr-neutral-1);
  }
}
