.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0.25em;
}

.statusIndicator {
  display: inline-block;
  border-radius: 50%;

  width: 20px;
  height: 20px;

  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, red 97%, orange 100%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow 0%, red 97%, orange 100%);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, red 97%, orange 100%);

  &[data-connected="true"] {
    background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, lightGreen 0%, green 95%, blue 100%);
    background-image: -webkit-radial-gradient(45px 45px, circle cover, lightGreen 0%, green 95%, blue 100%);
    background-image: radial-gradient(45px 45px 45deg, circle cover, lightGreen 0%, green 95%, blue 100%);
  }
}

.console {
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0.5em;
  border: 1px solid var(--clr-neutral-8);
}

.console p {
  font-family: var(--font-monospace);
  color: var(--clr-neutral-2);
  font-size: 0.9rem;
  word-wrap: break-word;
  word-break: break-word;
}

.event__type {
  font-weight: bold;
}
