.dropdown {
  overflow: auto;
  max-height: 50dvh;
  scrollbar-width: thin;
}

.toggle {
  padding: 0.25em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  user-select: none;
  -webkit-user-select: none;
}

.toggle:hover {
  cursor: pointer;
}

.toggle__icon {
  transition: rotate 0.2s ease;
}

.toggle[aria-checked="true"] .toggle__icon {
  rotate: 180deg;
}

.options {
  overflow-y: auto;
}

.option {
  user-select: none;
  -webkit-user-select: none;
  padding: 0.3em 0.5em;
  white-space: nowrap;
}

.option:hover {
  cursor: pointer;
  background-color: var(--clr-neutral-6);
}

.option__check {
  opacity: 0;
  margin-right: 0.5em;
}

.option[aria-checked="true"] .option__check {
  opacity: 1;
}
