.titlebar {
  height: var(--titlebar-height);
  background: var(--clr-neutral-9);
  border-bottom: 1px solid var(--clr-neutral-8);
  user-select: none;
  display: grid;
  grid-template-columns: auto max-content;
  z-index: var(--titlebar-z-index);

  .titlebar__content {
    display: flex;
    align-items: center;
  }

  .controls {
    display: flex;
  }

  .appTitleContainer {
    padding-left: 0.5em;
    color: var(--clr-neutral-2);
    display: flex;
    align-items: center;
    gap: 0.4em;

    .appTitle {
      font-size: 0.85rem;
    }

    img {
      width: var(--titlebar-logo-size);
      aspect-ratio: 1 / 1;
    }
  }

  .profileName {
    text-align: center;
    line-height: var(--titlebar-height);
    position: absolute;
    z-index: -1;
    left: 50%;
    translate: -50%;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--clr-neutral-3);
  }

  button {
    appearance: none;
    padding: 0 0.5em;
    margin: 0;
    outline: none;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease;

    &[data-minimize]:hover,
    &[data-maximize]:hover {
      background-color: var(--clr-neutral-7);
    }

    &[data-close]:hover {
      background-color: var(--clr-danger-5);
    }
  }
  button:hover {
    background: #5bbec3;
  }
}

*[data-tauri-drag-region] {
  app-region: drag;
}
